@import url(https://fonts.bunny.net/css?family=abel:400|allison:400);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #020302;
    color: white;
}

/* .flex{
    display: flex;
} */
